<div class="banner">
  <p class="pull-right"><a href="about_FR"><img class="icon-flag" src="images/flag-french.jpg"></a>en français</p>
  <h1><img class="logo" src="favicon.ico" alt="logo of a hand holding a plant">Going Green</h1>
</div>
