<footer>
    <div class="row">
        <div class="col-md-3">
            <p>&copy; 2018 Stéphanie Krus</p>
        </div>
        <div class="col-md-2">
            <p><a href="https://www.linkedin.com/in/stephanie-krus/" target="_blank"><img class="icon" src="images/icons/linkedIn-icon.jpg" alt="LinkedIn icon">
                LinkedIn</a></p>
        </div>
        <div class="col-md-5">
            <p><a href="https://www.interaction-design.org/stephanie-krus" target="_blank"><img class="icon" src="images/icons/IDFlogo.png" alt="Interaction Design Fundation icon">
                The Interaction Design Foundation</a></p>
        </div>
        <div class="col-md-2">
            <p><a href="#" class="theme-color"><%= __('BACK TO TOP') %></a></p>
        </div>
    </div>
</footer>
