.logo {
  max-height: 40px;
  padding-right: 25px;
}

.icon {
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

.icon-panel {
  height: 50px;
  width: 50px;
  margin: 0 40px 0 20px;
}

.icon-flag {
  height: 20px;
  width: 30px;
  margin: 0 10px;
}

.big-glyph {
  font-size: 50px;
}

.img-big-section {
  position: relative;
  margin : auto;
  min-height: 100%;
  max-width: 100%;
  height: 300px;
  padding-bottom: 40px;

  @media #{$mqMediumAndDown} {
      display: none;
    }
}


.img-height-medium {
  height: 200px;
  max-width: 100%;
  padding: 5px 20px;
}

.img-height-small {
  height: 100px;
  max-width: 100%;
  padding: 5px 20px;
}






