/* ---------------------------------------------------------
    NAV BAR

    https://getbootstrap.com/docs/3.3/components/#navbar
    https://getbootstrap.com/docs/3.3/examples/navbar-fixed-top/

----------------------------------------------------------- */


.my-navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 16; /* to bring navbar to front. 1 was enough but for the carousel indicators (the 4 dots) */
    color: #fff;
    background-color: #4f8f00 ;
    border-bottom: 1px solid #fff;
    //overflow: hidden;

    a {
        float: left;
        display: block;
        color: #fff;
        text-align: center;
        text-decoration: none;
    }
    a.nav-menu:hover {
      background-color: #fff;
      color: #4f8f00 ;
    }

    //a.nav-current {
    //  background-color: #fff;
    //  color:#4f8f00 ;
    //}

    .nav-brand {
        //max-width: 40%;
        font-size: 24px;
        padding: 5px 30px;

        @media #{$mqMediumAndDown} {
          font-size: 20px;
          //max-width: 60%;
        }

        @media #{$mqXSmallAndDown} {
          font-size: 18px;
          max-width: 60%;
          padding: 5px;
          //overflow: hidden;
        }

        a:hover {
          color: #fff;
          background-color: #4f8f00 ;
        }
    }

    button {
      //display: none;
    }
}

.nav-menu {
  font-size: 18px;
  padding: 15px 30px;
}


/* When the screen is less than 992 pixels wide (@screen-md-min dans less for @grid-float-breakpoint)
   hide all links, except for the icon and the name of the app  */
@media #{$mqMediumAndDown} {
  #navbar a {display: none;}
  //#navbar a.icon {
  //  float: right;
  //  display: block;
  //}
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon.
   This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
@media #{$mqMediumAndDown}  {

  #navbar.responsive {
    margin-top: 59px;
    position: absolute;
    right: 0px;
    width: 280px;
    padding-right: 0px;

    a {
      float: none;
      display: block;
      text-align: left;
      color: #fff;
      background-color: #4f8f00 ; // footer background
      border-bottom: 1px solid #fff;
    }

    a.nav-menu:hover {
      background-color: #fff;
      color: #4f8f00;
    }

    //a.nav-current {
    //  background-color: #fff;
    //  color:#4f8f00 ;
    //}
  }

}



/* until I fix the navbar
.banner {
  background-color: #4f8f00 ;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;

  @media #{$mqSmallAndDown} {
    font-size: 14px;
  }
}
*/
