/* ---------------------------------------------------------
    NAV BAR

    https://getbootstrap.com/docs/3.3/components/#navbar
    https://getbootstrap.com/docs/3.3/examples/navbar-fixed-top/

----------------------------------------------------------- */


.my-navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 16; /* to bring navbar to front. 1 was enough but for the carousel indicators (the 4 dots) */

    a {
        float: left;
        display: block;
        text-align: center;
        text-decoration: none;
    }

    .nav-brand {
        font-size: 24px;
        padding: 5px 30px;

        @media #{$mqMediumAndDown} {
          font-size: 20px;
        }

        @media #{$mqXSmallAndDown} {
          font-size: 18px;
          padding: 5px;
        }
    }
}

.nav-menu {
  font-size: 18px;
  padding: 15px 25px;
}


/* When the screen is less than 992 pixels wide (@screen-md-min dans less for @grid-float-breakpoint)
   hide all links, except for the icon and the name of the app  */
@media #{$mqMediumAndDown} {
  #navbar a {
    display: none;
  }
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon.
   This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
@media #{$mqMediumAndDown}  {

  #navbar.responsive {
    margin-top: 59px;
    position: absolute;
    right: 0px;
    width: 280px;
    padding-right: 0px;

    @media #{$mqXSmallAndDown} { // display the menu using the whole width for small screens
      width: 110%; // because of - 15 below
      padding-right: 0px;
      left: -15px; // there are 15px somewhere that was preventing from using the whole space at the left
    }

    a {
      float: none;
      display: block;
      text-align: left;
    }
  }
}




