html{
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 100px; /* size of the sticky footer */
    padding-top: 60px; /* for the fixed nav bar which is 60px high by default */


    @media #{$mqMediumAndDown} {
      margin-bottom: 250px; /* size of the sticky footer */
    }
    @media #{$mqXSmallAndDown} {
      padding-top: 70px;
    }
}


#cookienotice {

  width: 100%;
  height: 60px;
  padding: 15px 30px;
  background-color: #373737;
  color: #ffffff;
  text-align: center;

  #cookiepolicylink{
    text-decoration: underline;
    padding: 0 20px;
    }
    @media #{$mqXSmallAndDown} {
      height: 80px;
    }
}



.to-right {
  float: right;
}

.clearfix::after { // to avoid element with to-right to overflow outside a container
  content: "";
  clear: both;
  display: table;
}

.input-group-addon,
.input-group-btn { // to avoid group of button in index to break under 768px - comes from bootstrap default, put width to 1%
  width: auto;
}
