html{
    position: relative;
    min-height: 100%;
}


body {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 100px; /* size of the sticky footer */
    padding-top: 60px; /* for the fixed nav bar which is 60px high by default */

    a {
      font-weight: 500;
    }

    @media #{$mqMediumAndDown} {
      margin-bottom: 250px; /* size of the sticky footer */
    }
}


.lead {
    font-weight: 400;
}


h1 {
    @media #{$mqSmallAndDown} {
      font-size: 24px;
    }
}


.big-section {
    padding: 50px 30px;

    @media #{$mqMediumAndDown} {
      /* height: 300px; */
      padding: 50px;
      font-size: 10px;
    }
}

.dropdown-medium {
  font-size: 18px;
}

.to-center {
  //display: block;
  //margin-left: auto;
  //margin-right: auto;
}


.to-right {
  float: right;
}
