html{
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 100px; /* size of the sticky footer */
    padding-top: 60px; /* for the fixed nav bar which is 60px high by default */


    @media #{$mqMediumAndDown} {
      margin-bottom: 250px; /* size of the sticky footer */
    }
    @media #{$mqXSmallAndDown} {
      padding-top: 70px;
    }
}


#cookienotice {

  width: 100%;
  height: 60px;
  padding: 15px 30px;
  background-color: #373737;
  color: #ffffff;
  text-align: center;

  #cookiepolicylink{
    text-decoration: underline;
    padding: 0 20px;
    }
    @media #{$mqXSmallAndDown} {
      height: 80px;
    }
}



.to-right {
  float: right;
}

.clearfix::after { // to avoid element with to-right to overflow outside a container
  content: "";
  clear: both;
  display: table;
}

.input-group-addon,
.input-group-btn { // to avoid group of button in index to break under 768px - comes from bootstrap default, put width to 1%
  width: auto;
}

/*
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
} */

/* Hide for both screenreaders and browsers -----------------------------   From gov uk CSS for accessibility*/
.hidden,
.js-enabled .js-hidden {
  display: none;
  visibility: hidden; 
}

/* Hide only visually, but have it available for screenreaders */
.visually-hidden,
.visuallyhidden {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/*
  * Extends the .visuallyhidden class to allow the element to be
  * focusable when navigated to via the keyboard
  */ 
.visually-hidden.focusable:active, .visually-hidden.focusable:focus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; 
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; 
}

/* Make skiplinks visible when they are tabbed to */
.skiplink {
  position: absolute;
  left: -9999em;
}

/* Default link colour doesn't have enough contrast against $focus-colour */ 
.skiplink:focus, .skiplink:visited {
  color: #0b0c0c; 
}

.skiplink:focus {
  left: 0;
  z-index: 1; }

#skiplink-container {
  text-align: center;
  background: #0b0c0c; 
}
#skiplink-container div {
  text-align: left;
  margin: 0 auto;
  max-width: 1020px; 
}
#skiplink-container .skiplink {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0.75em 0 0 30px; 
}