.logo {
  max-height: 40px;
  margin: 10px 25px;
  @media #{$mqXSmallAndDown} {
    max-height: 30px;
    margin: 10px 15px;
  }
}

.icon {
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

.icon-panel {
  height: 50px;
  width: 50px;
  margin: 0 40px 0 20px;
  @media #{$mqSmallAndDown} {
    height: 40px;
    width: 40px;
    margin: 0 20px 0 10px;
  }
  @media #{$mqXSmallAndDown} {
    height: 30px;
    width: 30px;
    margin: 0 20px 0 10px;
  }
}

.icon-flag {
  height: 20px;
  width: 30px;
  margin-right: 10px;
}

.big-glyph {
  font-size: 50px;
  @media #{$mqSmallAndDown} {
    font-size: 40px;
  }
  @media #{$mqXSmallAndDown} {
    font-size: 30px;
  }
}


.img-height-medium {
  height: 200px;
  max-width: 100%;
  padding: 5px 20px;

  @media #{$mqMediumAndDown} {
    display: none;
  }
}

.img-height-small {
  height: 100px;
  max-width: 100%;
  padding: 5px 20px;
}






