/*   ------------------------------  colour theme green ---------------------------- */

$mycolour-base: #4f8f00;
$mycolour-secondary: #FEF3BE; // yellowish
$mycolour-light: lighten($mycolour-base, 10%);
$mycolour-dark: darken($mycolour-base, 10%);
$white : #fff;
$text-color : #5a5a5a ; // dark grey
$text-color-inverted: $white;
//$link-color: $mycolour-base;
//$link-hover-color: darken($link-color, 15%);
//$link-color-inverted: #333;
//$link-hover-color-inverted: darken($link-color-inverted, 15%);



.theme-color  {
  color: $mycolour-base;
}

.theme-color-inverted {
  background-color: $mycolour-base;
  color:$white;

  .lead {
    font-weight: 300;
  }
}

body {
  color: $text-color;
  background-image: url('/images/backgrounds/woodBG.png'); // add to put that URL for it to work in production

  a {
    color: $mycolour-base;
  }

  footer {
      a:hover {
        color: $mycolour-light;
      }
  }

  p {
      a:hover {
        color: $mycolour-light;
      }
  }

}


// I'm using button success as normal button - the green has been changed but will need to create a class is other themes

.button-primary {
  background-color: $mycolour-base ;
  color: $white ;
  font-weight: 400;

  //a:hover, a:focus {
  //  color: #ddd;
  //
  //}
}

.button-inverted {
  background-color: $white;
  color: $mycolour-base ;
  font-weight: 400;
}


.panel-theme-color {
  color : $white;
  background-color: $mycolour-base;
  font-weight: 400;
  border: 3px solid $mycolour-base;

  .panel-title {
      a:hover {
        color: $white;
      }
  }

  .panel-body {
    color :  $text-color;
    background-color: $white;
  }
}

.panel-theme-color-inverted {
  color :  $mycolour-base;
  background-color: $white;
  border: 3px solid $mycolour-base;

  a:hover {
    color: $mycolour-base;
  }

  .panel-body {
    background-color: $mycolour-secondary;
    border-top: 3px solid $mycolour-base;
    color :  $text-color;

    a:hover {
      color: $white;
    }
  }

  .dropdown-medium {
    li a:hover {
      color: $mycolour-base;
      font-weight: 500;
    }
  }

}









