<%- include ../partials/navbar %>
<div class="row">
  <div class="col-xs-12">
    <h1 class="margin-3 text-center">Settings <small><em> (under construction)</em></small></h1>
  </div>
  <div class="col-xs-10 col-xs-offset-1">
  <p class="lead"> On this page, you'll be able to change units (metric / imperial) and colour themes</p>
  </div>
</div>



<%- include ../partials/footer %>
