/*
#footer {

    @media #{$mqPrint} {
        background: none;
    }

    .footer-wrapper {
        @media #{$mqPrint} {
            padding-top: 20px;
            background: none;
        }
    }
    .footer-meta {
        .footer-meta-inner {
            @media #{$mqPrint} {
                width: 70%;
                margin-right: 3%;
            }
        }
        .copyright a {
            @media #{$mqPrint} {
                background: none;
                padding: 0;
            }
        }
    }
}
*/
